button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  background-color: var(--border-brand-dark);
  width: 11rem;
  height: 3rem;
  border-radius: .5rem;
  margin-left: auto;
  cursor: pointer;
  margin-top: 2.75rem;
  
  font: var(--text-md);
  color: var(--text-heading);
  

  &:hover,
  &:focus {
    background-color: var(--border-brand-light);
  }
}
