.flex {
  display: flex;
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}

/* label + .radio-wrapper {
  margin-top: 1rem;
} */

.radio-wrapper-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .75rem;
  & .radio-inner {
    & img {
      width: 100%;
      padding: 4px;
      padding-bottom: 0;
    }
    & label{      
      text-align: center;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

}

.radio-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--input-base);

  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--input-placeholder);
  padding: 0.75rem 1rem;

  font: var(--font-family-text);
  color: var(--text-heading);
}
.radio-inner {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 1px solid var(--input-placeholder);
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;  

  position: relative;
  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;  
    cursor: pointer;
  }


  .radio-image1 {
    background-image: url(../../assets/icons/building-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    align-items: center;
    justify-content: center;
  
  }

  &:hover,
  &:focus-within {
    border: 1px solid var(--input-placeholder);
  }
  &:has(:checked) {
    & .radio-image1 {
      background-image: url(../../assets/icons/building-hover.svg);
    }
  }
  .radio-image2 {
    background-image: url(../../assets/icons/video.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
  }

  &:hover,
  &:focus-within {
    background-color: var(--input-placeholder);
    color: white;
  }
  &:has(:checked) {
    border: 2px solid var(--border-brand-light);
    & .radio-image2 {
      background-image: url(../../assets/icons/video-hover.svg);
      color: var(-text-heading);
    }
  }
}
.tipo {
  border: none;
  padding: ;
  gap: 0;
}

#main-color {
  .radio-wrapper {
    padding: 0;
    background-color: unset;
    border: unset;
    display: flex;
    align-items: center;
    gap: 12px;
    .radio-inner-color {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--shape-button);
      border-radius: 50%;
      height: 40px;
      width: 40px;
      position: relative;
      outline: 2px solid var(--shape-button);
      input[type="radio"] {
        all: unset;
        border-radius: 50%;
        position: absolute;
        inset: 0;
        &:checked {
          border-radius: 50px;
          outline: 2px solid var(--border-brand-light);
          border: 6px solid var(--shape-hover);
        }
        &:hover {
          border: 6px solid var(--shape-hover);
          border-radius: 50%;
        }
      }
      .circle-inner {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        &.blue-color {
          background-color: var(--border-brand-light);
        }
        &.navy-color {
          background-color: var(--color-accent-navy);
        }
        &.purple-color {
          background-color: var(--color-accent-purple);
        }
        &.fuchsia-color {
          background-color: var(--color-accent-fuchsia);
        }
        &.pink-color {
          background-color: var(--color-accent-pink);
        }
        &.red-color {
          background-color: var(--color-feedback-danger);
        }
        &.orange-color {
          background-color: var(--color-accent-orange);
        }
        &.yellow-color {
          background-color: var(--color-accent-yellow);
        }
        &.lime-color {
          background-color: var(--color-accent-lime);
        }
        &.green-color {
          background-color: var(--color-accent-green);
        }
        &.cyan-color {
          background-color: var(--color-accent-cyan);
        }
      }
    }
  }
}

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: .75rem;
  & .dark-orlight {
    position: relative;
    width: 64px;
    border-radius: 999px;
    background: var(--input-stroker);
    padding-left: .25rem;
    border: 1px solid red;
  }
    & .switch::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--input-stroke);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
   & input:checked + .switch { /* Para alterar a cor de fundo do slider */
    background-color: var(--brand-light);
  }
   & input:checked + .slider::before { /* Para alterar a cor do slider (bolinha) e informar o quanto ele "andara" para a direita*/
    background: white;
    margin-left: 1.9rem;
  }

}

.box{


  
  box-sizing: border-box;
  
  width: 64px;
  height: 32px;
  
  background: #1C1F21;
  border: 1px solid #363B40;
  border-radius: 999px;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  
  
  /* Ellipse 1 */
  
  position: absolute;
  width: 24px;
  height: 24px;
  left: 4px;
  top: calc(50% - 24px/2);

  background: #363B40;
}
