@import url(fields/index.css);
form {
  margin-top: 3rem;
}
fieldset {
  border: none;
  display: grid;
  gap: 1.5rem;
}

legend {
  font: 600 1rem/1.25 (--font-family-text);
  color: var(--text-heading);
  margin-bottom: 1.5rem;
}

fieldset + fieldset {
  margin-top: 3rem;
}
.subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;

  & img {
    width: 24px;
    height: 24px;
  }
  & legend {
    margin: 0;
    color: var(--text-heading);
  }
}
