* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family-logo: "Leckerli One", sans-serif;
  --font-family-title: "Baloo 2", sans-serif;
  --font-family-text: "Opens Sans", sans-serif;

  --logo: 400 2.5rem/100% var(--font-family-logo);

  --title-md: 700 1.75rem/100% var(--font-family-title);
  --title-sm: 700 1.125rem/100% var(--font-family-title);

  --text-md: 600 1rem/100% var(--font-family-text);
  --text-sm: 600 0.875rem/100% var(--font-family-text);
  --text-xs: 600 0.75rem/100% var(--font-family-text);

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --danger: #ff5959;

  --border-brand-light: #59b2ff;
  --border-brand-mid: #3487cf;
  --border-brand-dark: #1d6fb6;

  --color-accent-navy: #6a59ff;
  --color-accent-purple: #b259ff;
  --color-accent-fuchsia: #ff59f9;
  --color-accent-pink: #ff598b;
  --color-feedback-danger: #ff5959;
  --color-accent-orange: #ff8b59;
  --color-accent-yellow: yellow;
  --color-accent-lime: #e1ff59;
  --color-accent-green: #59ff91;
  --color-accent-cyan: #59fff9;
}

body {
  overflow: hidden;
  font: var(--font-family-text);
  color: var(--text-body);
  background-color: var(--shape-background);
}

h1,
h2 {
  color: var(--text-heading);
}

.erro-menseger span{
  color: var(--danger);
  font-size: var(--text-sm);  
}

