* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family-logo: "Leckerli One", sans-serif;
  --font-family-title: "Baloo 2", sans-serif;
  --font-family-text: "Opens Sans", sans-serif;

  --logo: 400 2.5rem/100% var(--font-family-logo);

  --title-md: 700 1.75rem/100% var(--font-family);
  --title-sm: 700 1.125rem/100% var(--font-family);

  --text-md: 600 1rem/100% var(--font-family);
  --text-sm: 600 0.875rem/100% var(--font-family);
  --text-xs: 600 0.75rem/100% var(--font-family);

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --danger: #ff5959;
}
