#app {
  display: grid;
  grid-template-columns: 32.79% 67.21%;
  height: 100vh;
  overflow: hidden;
}

aside {
  padding: 2rem;

  background-image: url(../assets/Background.svg);
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 1.25rem;
  margin-left: auto;
  max-width: 35rem;

  & svg {
    width: 45px;
    height: 48px;
    margin-bottom: 1rem;
  }
  & h2 {
    font: var(--logo);
    color: #ff598b;
    padding-bottom: 1rem;
  }
  & p {
    font: 300 2.5rem/100% var(--font-famil-text);
    color: var(--text-body);
  }
}

main {
  overflow: auto;
  padding: 5rem 8.125rem;
  background-color: var(--shape-body);
  border: 1.25rem solid var(--shape-background);
  margin-right: auto;  
}

#line {
    height: 1.75px;
  background-color: var(--input-stroke);
  margin: 5rem 0;
}
